<%- include('partials/header'); -%>
<h1>HOME !</h1>
<p> <%= text %></p>

<% for(let i=0;i<Object.keys(blogPost).length;i++){ %>
  <% console.log(blogPost[i].newBlogTitle); %>
<% } %>

<h1>Research</h1>
<p> <%= text %></p>

<h1>Work ewxperience</h1>
<p> <%= text %></p>

<h1>HOME !</h1>
<p> <%= text %></p>

<%- include('partials/footer'); -%>
